<div style="height:15px"></div>
<a href="http://codeosl15.eventbrite.com" target="_blank"><div class="greenbox">
  <h1>
  Register here</h1>
  <hr>
  We're looking forward to see you
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>LOCATION</h1>
  <a href="http://www.thonhotels.com/hotels/countrys/norway/oslo/thon-hotel-bristol1/conference/" target="_blank">Hotel Bristol</a>
<br/>
  Kristian IV’s gate 7<br>
  0164 Oslo
  <hr>
  <h1>DATE</h1>
  April 29<sup>th</sup> 2015
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">9:00 - 17:00</div>
  <a  title="CoDe OSL 2015 Venue: The Bristol Hotel" target="_blank" href="https://mapsengine.google.com/map/u/0/edit?mid=zw4BQQpH4bbU.kON6FqOoHoBg">
    <img
      width="200"
      frameborder="0"
      style="border:0"
      src="{{site.root}}/images/CoDeOSL2015-venue.png"
    </img>
  </a>
</div>


<div style="height:15px"></div>
<div class="greenbox">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider"  style="margin: 0px auto;background-color:transparent; controlNav: false;">
    <ul class="slides">
      <li class="slides">
        <a href="{{site.root}}/sponsors/praqma.html" id="praqma" class="sponsorbox sidebar"></a>
      </li>
      <li class="slides">
        <a href="{{site.root}}/sponsors/ca.html" id="ca" class="sponsorbox sidebar"></a>
      </li>
      <li class="slides">
        <a href="{{site.root}}/sponsors/xebialabs.html" id="xebialabs" class="sponsorbox sidebar"></a>
      </li>
      <li class="slides">
        <a href="{{site.root}}/sponsors/atlassian.html" id="atlassian" class="sponsorbox sidebar"></a>
      </li>
    </ul>
  </div>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="{{site.root}}/social/tweets.html"><img width="70px" style="float:right;" src="{{site.root}}/images/twitter-icon.png"></a>
  <a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="{{site.root}}/images/linkedin-icon.png"></a>
</div>
